<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Proyecto Final</title>
  <link href="../css/styles.css" rel="stylesheet"/>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
  <script src="../js/offline.js"></script>
  <script src="../js/offlineText.js"></script>
  <script src="../js/initServiceWorker.js"></script>
  <link rel="stylesheet" href="../css/offline.js.css">
</head>

<body class="sb-nav-fixed">
<nav th:replace="~{/public/templates/fragments/navbar.html :: navbarFragment}"></nav>
<div id="layoutSidenav">
  <div th:replace="~{/public/templates/fragments/aside.html :: asideFragment}"></div>
  <div id="layoutSidenav_content">
    <main class="w-100 h-100">
      <div class="h-100 container-fluid px-4 d-flex flex-column align-items-center justify-content-center">
        <h1 class="mt-4 text-center">Prueba a llenar nuestros formularios</h1>
        <a href="/form" class="btn btn-primary btn-lg">Llenar aquí</a>
      </div>
    </main>
    <div th:replace="~{/public/templates/fragments/footer.html :: footerFragment}"></div>
  </div>
</div>
</body>
</html>
